body{
	font-family: 'Public Sans', sans-serif;
}

.navbar{
	border-radius: 0px;
	background-color: black;
	border: none;


}



a.navbar-brand span{
	color: #ff0066;
	font-weight: bold;
	font-family: 'Yellowtail', cursive;

}

#myNavbar span{
	color: white;
}